<mat-toolbar id="secondToolbar" 
[ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
    <mat-toolbar-row>
        <div>
            <breadcrumb #parent id="secondToolbar">
            <span class="breadcrumb" *ngFor="let route of parent.breadcrumbs">
                <a mat-button *ngIf="!route.terminal" href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
                <a mat-button *ngIf="route.terminal">KMS HOME <mat-icon>keyboard_arrow_right</mat-icon> {{ route.displayName }}</a>
            </span>
        </breadcrumb>
        </div>

        <span class="spacer"></span>

        <div class="header-item second-toolbar">
            <ul>
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon matBadge="15" matBadgeColor="warn" matBadgePosition="below after">notifications
                        </mat-icon>

                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <div class="user-picture">
                            <img class="img-avatar"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
                        </div>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>

                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>