<mat-toolbar>
    <mat-toolbar-row fxLayoutAlign="space-between center" fxLayout="row wrap">
        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="first-item">
            <breadcrumb #parent>
                <span class="breadcrumb" *ngFor="let route of parent.breadcrumbs">
                    <a mat-button *ngIf="!route.terminal" href="" [routerLink]="[route.url]">{{ route.displayName }}</a>

                    <a mat-button *ngIf="route.terminal">
                        {{ route.displayName }}</a>
                </span>
            </breadcrumb>
        </div>
        <span class="spacer"></span>
        <div class="header-item">
            <ul>
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon matBadge="15" matBadgeColor="warn" matBadgePosition="below after">notifications
                        </mat-icon>

                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu" disableRipple>
                        <div class="user-picture" [ngStyle]="{'background-image': imageUrl()}">
                        </div>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>

                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>