<div class="wrapper">
    <div class="container">
        <div class="register-form">
            <div class="first-row" fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div>
                    <h2 class="page-title">Registrations</h2>
                    <h4>Search and manage existing registrations or create new.</h4>
                </div>
                <span fxFlex="60" class="spacer"></span>
                <div>
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle value="list">
                            <mat-icon>list</mat-icon> List view
                        </mat-button-toggle>
                        <mat-button-toggle value="schedule">
                            <mat-icon>date_range</mat-icon> Schedule view
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

            </div>

            <div class="second-row">
                <div fxLayout="row" fxLayoutAlign="end end" >
                    <button mat-flat-button color="primary"> <mat-icon>add</mat-icon> Create New</button>
                </div>
            </div>

        </div>
    </div>
</div>