<div class="wrapper-wide">
    <mat-tab-group animationDuration="0ms" >
        <mat-tab label="Generate Reports">
            <div class="wrapper">
                <div class="container">
                    <div class="content-container reports">
                        <h2>NOTHING HERE</h2>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Management Dashboard">
            <div class="wrapper">
                <div class="container">
                    <div class="content-container management">
                        <div class="content first-row" fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap="wrap"
                            fxLayoutGap="10px">

                            <div class="reports-select">
                                <mat-form-field appearance="fill">
                                    <mat-label>Select reports</mat-label>
                                    <mat-select disableRipple>
                                        <mat-option value="operational">Operational Overview</mat-option>
                                        <mat-option value="income">Income Reports</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-icon
                                    matTooltip="Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum">
                                    help_outline</mat-icon>
                            </div>
                            <mat-button-toggle-group appearance="legacy" name="periode" aria-label="Periode">
                                <mat-button-toggle value="weekly">Weekly</mat-button-toggle>
                                <mat-button-toggle value="monthly">Monthly</mat-button-toggle>
                                <mat-button-toggle value="yearly">Yearly</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-form-field appearance="fill">
                                <mat-label>Select reports</mat-label>
                                <mat-select disableRipple>
                                    <mat-option value="operational">Operational Overview</mat-option>
                                    <mat-option value="income">Income Reports</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Select reports</mat-label>
                                <mat-select disableRipple>
                                    <mat-option value="operational">Operational Overview</mat-option>
                                    <mat-option value="income">Income Reports</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Select reports</mat-label>
                                <mat-select disableRipple>
                                    <mat-option value="operational">Operational Overview</mat-option>
                                    <mat-option value="income">Income Reports</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="content second-row">
                        <div class="cards" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title>39</mat-card-title>
                                    <mat-card-subtitle>Patient visits</mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title>55</mat-card-title>
                                    <mat-card-subtitle>Patient Appointments</mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                            <mat-card fxLayout="row" fxLayoutAlign="center center">
                                <mat-card-header>
                                    <mat-card-title>27</mat-card-title>
                                    <mat-card-subtitle>Male</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-header>
                                    <mat-card-title>12</mat-card-title>
                                    <mat-card-subtitle>Female</mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title>23</mat-card-title>
                                    <mat-card-subtitle>New Patient visits</mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title>12</mat-card-title>
                                    <mat-card-subtitle>Old Patient visits</mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                        </div>
                    </div>
                    <!-- CHART -->
                    <div class="content third-row">
                        <div class="cards" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="flex-start">
                            <!-- CHART 1 -->
                            <mat-card>
                                <mat-card-content>
                                    <div>
                                        <div style="display: block">
                                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                                [options]="barChartOptions" [legend]="barChartLegend"
                                                [chartType]="barChartType" [colors]="colors">>
                                            </canvas>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                            <!-- CHART 2 -->
                            <mat-card>
                                <mat-card-content>
                                    <div>
                                        <div style="display: block">
                                            <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels2"
                                                [options]="barChartOptions2" [legend]="barChartLegend"
                                                [chartType]="barChartType" [colors]="colors">>
                                            </canvas>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="cards" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="flex-start">
                            <mat-card>
                                <mat-card-content>
                                    <div>
                                        <div style="display: block">
                                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                                [options]="barChartOptions" [legend]="barChartLegend"
                                                [chartType]="barChartType" [colors]="colors">>
                                            </canvas>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <div>
                                        <div style="display: block">
                                            <canvas baseChart 
                                            [datasets]="barChartData4" [labels]="barChartLabels4"
                                                [options]="barChartOptions4" [legend]="barChartLegend"
                                                [chartType]="barChartType4" [colors]="colors">>
                                            </canvas>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>

                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>