.mat-tab-header {
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
  position: sticky !important;
  top: 0;
  background: #cfeaff;
  z-index: 99;
}

.mat-tab-label {
  font-weight: 400;

  &.mat-tab-label-active {
    font-weight: bold;
  }
}

.mat-tab-label-content {
  color: rgb(45, 20, 78);
}

.mat-card-header-text {
  margin: 0 auto !important;
  text-align: center;
}

.content {
  &.second-row{
    mat-card-header {
      margin-right: 0px;
    }
    mat-card-subtitle{
      margin-bottom: 0;
    }
  }
  &.third-row {
    margin: 0 auto;
  }

  .cards {
    display: flex;
    align-items: center;

    .mat-card {
      text-align: center;
      width: 300px;
      margin: 0 auto;
      flex: 1;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
  }

}

