<mat-sidenav-container>
  <!-- SIDE NAVIGATION -->
  <mat-sidenav #leftSidenav mode="side" opened>
    <app-sidebar>
      
    </app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
    <!-- HEADER -->
    
    <app-header [sidenav]="leftSidenav"></app-header>
    <!-- End of Header -->
    <router-outlet></router-outlet>

    <!-- FOOTER -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </mat-sidenav-content>
</mat-sidenav-container>